.header {
  margin-top: 2rem;

  .blog-logo {
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }

  .dropdown.menu {
    float: left;
    width: 100%;
    padding: 1em 0;
    background-color: $yellow;
    list-style: none;
    text-align: center;
    @include breakpoint(small only) {
      position: absolute;
      margin-top: 2rem;
      z-index: 9999;
    }
    li {
      display: inline-block;
      @include breakpoint(small only) {
        width: 50%;
        display: block;
        float: left;
        text-align: left;
      }
      a {
        font-family: Fruttiger,Verdana,sans-serif;
        text-transform: uppercase;
        color: black;
      }
    }
  }

  .title-bar {
    background-color: $yellow;
  }
  .title-bar-title {
    font-weight: normal;
    font-family: Fruttiger, Verdana, sans-serif;
    text-transform: uppercase;
    color: black;
    line-height: 1;
    vertical-align: -0.1rem;
  }

  .menu-icon:after {
    background: black;
    box-shadow: 0 7px 0 black, 0 14px 0 black;
  }
}